<!doctype html>
<html lang="en">

  <%- include('includes/head'); %>
<body>
  
  <%- include('includes/navLogout'); %>

  <h1>Hello, world! Deepak Mishra</h1>
  
  
  <%- include('includes/footer'); %>

</body>

</html>